@model MVC_Project.Models.User

@{
    ViewData["Title"] = "Create";
}
<head>
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="~/css/Registration/style.css" rel="stylesheet" />
</head>
<hr />

@*<div class="wrapper" style="background-image: url('~/images/Registration/bg-registration-form-1.jpg');">*@
@*<div class="wrapper" style="background-image: url('../../wwwroot/images/Registration/bg-registration-form-1.jpg')">*@
<div class="wrapper" style="background-image: url('bg-registration-form-1.jpg')">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/Registration/registration-form-1.jpg" alt="">
        </div>
        <form asp-action="Create">
            <h3>Registration Form</h3>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <input asp-for="LastName" placeholder="Last Name" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-wrapper">
                <input asp-for="NickName" placeholder="Username" class="form-control">
                <span asp-validation-for="NickName" class="text-danger"></span>
                <i class="zmdi zmdi-account"></i>
            </div>

            <div class="form-wrapper">
                <input asp-for="Email" placeholder="Email Address" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
                <i class="zmdi zmdi-account"></i>
            </div>

          
            @*<div class="form-wrapper">
            <select name="" id="" class="form-control">
                <option value="" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="femal">Female</option>
                <option value="other">Other</option>
            </select>
            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
        </div>*@


            <div class="form-wrapper">
                <input asp-for="Password" type="password" placeholder="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Confirm Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>


            @*<button>
            Register
            <i class="zmdi zmdi-arrow-right"></i>
        </button>*@
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





@*<div class="wrapper" style="background-image: url('~/images/Registration/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/Registration/registration-form-1.jpg" alt="">
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NickName" class="control-label"></label>
                        <input asp-for="NickName" class="form-control" />
                        <span asp-validation-for="NickName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserType" class="control-label"></label>
                        <select asp-for="UserType" class="form-control"></select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedAt" class="control-label"></label>
                        <input asp-for="CreatedAt" class="form-control" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdatedAt" class="control-label"></label>
                        <input asp-for="UpdatedAt" class="form-control" />
                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
